// Design Tokens
@use "@ugent-ui/design-tokens/build/scss/_light-theme-map" as light-theme-map;
@use "@ugent-ui/design-tokens/build/scss/_dark-theme-map" as dark-theme-map;
@use "@ugent-ui/design-tokens/build/scss/_core-map" as core-map;
@import "@ugent-ui/design-tokens/src/utils/scss/helpers";

$form-feedback-icon-valid-color: token(
  "color-text-succes",
  light-theme-map.$light
);
$form-feedback-icon-invalid-color: token(
  "color-text-danger",
  light-theme-map.$light
);

// Import Bootstap
@import "bootstrap/scss/bootstrap";

:host {
  display: block; /* Ensure it has a layout */

  --bs-border-width: var(--border-width-small);
  --bs-border-radius: var(--border-radius-small);
  --bs-border-color: var(--color-border-default);
  --bs-body-color: var(--color-text-default);
  --bs-body-bg: var(--elevation-surface-basic-default);
  --bs-secondary-color: var(--color-text-subtlest);
  --bs-form-valid-border-color: var(--color-border-succes);
  --bs-form-invalid-border-color: var(--color-border-danger);
  --bs-form-invalid-color: var(--color-border-danger);
  --bs-secondary-bg: var(--color-background-disabled);

  .form-text,
  .invalid-feedback {
    margin-top: var(--space-050);
    font-size: var(--font-body-small);
  }

  input::placeholder {
    color: #{token("color-text-subtle", light-theme-map.$light)};
  }

  .form-control:disabled {
    color: #{token("color-text-disabled", light-theme-map.$light)};
  }
}
